#contenedor{
    width: 80%;
    margin: auto;
	background-color:#CFC
}

input, select{
	border-color: blue;
}

.grande{
    width: 90%;
}

.derecha {
    float: right;
    width: 45%;
}

.izquierda{
    float: left;
    width: 45%;
}
input:hover, select:hover{
	border-color: red;
}


.fila{
	float:left;
	width:90%;
	padding-top:10px;
	margin:auto;
	
	}
	.fila:hover{
		background-color:#C3C}
	body{
		background-color:#999;
		}